<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>srctx report</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        #mountNode {
            width: 100%;
            height: 100vh;
        }

        #toggleLayoutButton {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #toggleLayoutButton:hover {
            background-color: #3e8e41;
        }
    </style>
</head>

<body>
<button id="toggleLayoutButton">Toggle Collapse</button>
<div id="mountNode"></div>
<script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.8.7/dist/g6.min.js"></script>

<script>
    const grid = new G6.Grid()
    const toolbar = new G6.ToolBar()
    const edgeBundling = new G6.Bundling({
        bundleThreshold: 0.6,
        K: 100,
    })

    const data = {{ . }}

    const graph = new G6.Graph({
        container: 'mountNode',
        width: window.innerWidth,
        height: window.innerHeight,
        layout: {
            type: 'comboCombined',
            preventOverlap: true,
            spacing: 5,
            linkDistance: 100,
            nodeSize: 100,
            outerLayout: new G6.Layout['forceAtlas2']({
                kr: 10000,
            }),
            innerLayout: new G6.Layout["grid"]()
        },
        modes: {
            default: ['drag-canvas', 'zoom-canvas', 'drag-combo', 'activate-relations', 'collapse-expand-combo'],
        },
        defaultNode: {
            size: 60,
            style: {
                lineWidth: 1,
            },
            labelCfg: {
                style: {
                    opacity: 0,
                }
            }
        },
        defaultEdge: {
            style: {
                opacity: 0.6,
                stroke: 'black',
                startArrow: true,
            },
            labelCfg: {
                autoRotate: true,
            },
        },
        defaultCombo: {
            collapse: true,
            style: {
                stroke: 'black',
            }
        },
        groupByTypes: false,
        plugins: [grid, toolbar, edgeBundling]
    });
    graph.data(data);
    graph.render();

    const toggleLayoutButton = document.getElementById('toggleLayoutButton');
    toggleLayoutButton.addEventListener('click', function () {
        const combos = graph.getCombos();
        combos.forEach(function (combo) {
            if (combo.getModel().parentId) {
                const color = getComboColor(combo);
                graph.collapseExpandCombo(combo);
                if (combo.getModel().collapsed) {
                    combo.update({
                        style: {
                            fill: color
                        }
                    });
                } else {
                    combo.update({
                        style: {
                            fill: null
                        }
                    });
                }
                graph.updateCombo(combo, combo.getModel());
            }
        });
    });

    function getComboColor(combo) {
        let hasColoredNode = false;
        const nodes = combo.getNodes();
        nodes.forEach(function (node) {
            if (node.getModel().style.fill) {
                hasColoredNode = true;
            }
        });
        if (hasColoredNode) {
            const coloredNode = nodes.find(function (node) {
                return node.getModel().style.fill;
            });
            return coloredNode.getModel().style.fill;
        } else {
            return null;
        }
    }

    graph.on('afterlayout', function () {
        graph.fitView();
        toggleLayoutButton.click();
    });

    graph.on('node:mouseenter', evt => {
        const node = evt.item;
        graph.updateItem(node, { labelCfg: { style: { opacity: 1 } } });
    });

    graph.on('node:mouseleave', evt => {
        const node = evt.item;
        graph.updateItem(node, { labelCfg: { style: { opacity: 0 } } });
    });

</script>
</body>
</html>